.dark-mode {
  background: $dark-blue-bg;
  color: $desaturated-blue;
  header {
      h2 {
          color: $white;
      }
  }
  .toggle-mode {
    border-top: 1px solid $dark-gray-blue;
  }
  .platforms-content {
    article {
      background: $dark-desaturated-blue;
      h4 {
          color: $white;
          span {
              color: $desaturated-blue;
          }
      }
    }
    /* Up/Down */
    p:nth-of-type(2) {
        color: $white;
    }
  }
  #stats-overview {
    .stats-content {
      article {
        background: $dark-desaturated-blue;
      }
    }
  }
}

/* Desktop Styles */
@media screen and (min-width: 1200px) {
  /* Dark Mode Color Styles - Desktop */
  .dark-mode {
    .toggle-mode {
      border: none;
    }
  }
}
